.main{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main > div > div {
    color: var(--base-color);
}

.main > div{
    margin: 0 auto;
    background-color: var(--background);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lavender;
    padding: 24px;
    border-radius: 15px;
    gap: 8px;
}

.main a {
    margin-top: 16px;
}

.icon {
    margin-top: 50px;
    font-size: 200px;
    transition: transform .5s;
}

.icon path {
    fill: var(--background);
}